@import "_variables.scss";

body {
    box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: $light;
  padding: 16px;
  
}

.main {
  width: 600px;
  height: 600px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    margin: 0;
    
        background-color: white; 
  &__form {
     
  }
}

.form {
    display: flex;
    flex-direction: column;
    
}
